#main_canvas{
    border:1px solid #181818;
    justify-content: center;
    background-color: #ffffff
}

body, html {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.toppane {
    width: 100%;
    height: 10%;
    border-collapse: collapse;
    background-color: #0040a8;
}

.leftpane {
    width: 25%;
    height: 90%;
    float: left;
    border-collapse: collapse;
    text-align: center;
    background-color: #696969;
    overflow-y: auto;
}

.middlepane {
    width: 50%;
    height: 90%;
    float: left;
    text-align: center;
    border-collapse: collapse;
    background-color: #000000;
}

.rightpane {
    width: 25%;
    height: 90%;
    float: right;
    text-align: center;
    border-collapse: collapse;
    background-color: #696969;
    overflow-y: auto;
}

.coord{
    justify-content: center;
}

.button {
    background-color: #ffffff;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button5 {
    border-radius: 60%;
}
